<!--Código CSS-->
body{
    background: linear-gradient(to right,rgb(6, 209, 50), rgb(151, 230, 162));
}
.box{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(1, 22, 5, 0.6);
    padding: 10px;
    border-radius: 15px;
    width: 20%;
    
}
fieldset{
    border: 1px solid white;
    border-radius: 10px;
}
legend{
    font-size: 20px;
    margin:0 auto;
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    background-color: rgba(1, 22, 5, 0.6);
    border-radius: 10px;
}
.inputBox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    border: 1px solid white;
    border-radius: 10px;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
}
.labelInput{
    font-size: 15px;
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 8px;
    pointer-events: none;
    transition: .5s;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: rgb(184, 230, 20);
}

#submit{
    background: rgb(157, 228, 157);
    width: 50%;
    margin-left: 52%;
    border: none;
    padding: 5px;
    color: black;
    font-size: 15px;
    cursor:pointer;
    border-radius: 15px;
}
#submit:hover{
    background-image: linear-gradient(to right,rgb(0, 172, 43), rgb(169, 235, 183));
}