<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- jQuery UI -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


<!--header start-->
<header>
    <img src="../imagens/logo-ufam-icet.png" alt="logo-ufam-icet" id="logo">
    <!-- Menu de navegação -->
    <nav>
        <ul>
            <li><a href="/logout">Sair</a></li>
        </ul>
    </nav>
</header>
<!--header end-->

<!--mensagem de erro se houver-->
{{#if erro}}
    <div class="alert alert-danger" style="margin-top: 15px;">{{erro}}</div>
{{/if}}

<!--section menu start-->
<section class="menu">
    <h1>Solicitações Registradas</h1>
    <br><br>
    <form id="dateForm" action="/selecionar_data" method="get" autocomplete="off">
        <label for="datepicker">Selecione uma data:</label>
        <input type="text" id="datepicker" name="data_solicitacao">
        <button type="submit" id="button-selecionar-data">Pesquisar</button>
    </form>
</section>
<!--section menu end-->

<!--footer start-->
<footer>
    <div class="container-footer">
        <p id="contact">Instituto de Ciências Exatas e Tecnologia</p>
        <p>Universidade Federal do Amazonas</p>
        <p>Av. Nossa Senhora do Rosário, 3863 - Bairro Tiradentes, Itacoatiara</p>
    </div>
</footer>
<!--footer end-->


<!--selecionar data-->
<script>
    $(document).ready(function(){
        $("#datepicker").datepicker({
            dateFormat: 'dd/mm/yy'
        });
    });
</script>

