<!--header start-->
<header>
    <img src="../imagens/logo-ufam-icet.png" alt="logo-ufam-icet" id="logo">
    <!-- Menu de navegação -->

    <!-- Formulário de busca -->
    <form id="search-form" action="/buscar_protocolo" method="GET">
        <input type="text" name="protocolo" placeholder="Digite o protocolo">
        <button type="submit">Buscar</button>
    </form>

    <nav>
        <ul>
            <li><a href="/login">Gerencia</a></li>
        </ul>
    </nav>
</header>
<!--header end-->

<!--mensagem de erro se houver-->
{{#if erro}}
    <div class="alert alert-danger" style="margin-top: 15px;">{{erro}}</div>
{{/if}}

<!--section menu start-->
<section class="menu">
    <h1>Ordem de Serviço</h1>
    <form action="/formulario" class="form-servidor" method="post">
        <div class="div-form">
        <div>
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome">

            <label for="email">Email:</label>
            <input type="email" name="email" id="email">

            <label for="siape">Siape:</label>
            <input type="number" name="siape" id="siape">

            <label for="bloco">Bloco:</label>
            <input type="text" name="bloco" id="bloco">

            <label for="sala">Sala:</label>
            <input type="number" name="sala" id="sala">
        </div>

        <div>
            <label for="descricao-problema">Descrição do Problema:</label>
            <textarea name="descricaoProblema" id="descricaoProblema" cols="30" rows="10"></textarea>

            <button type="submit">Enviar</button>
        </div>
        </div>
    </form>
</section>
<!--section menu end-->

<!--footer start-->
<footer>
    <div class="container-footer">
        <p id="contact">Instituto de Ciências Exatas e Tecnologia</p>
        <p>Universidade Federal do Amazonas</p>
        <p>Av. Nossa Senhora do Rosário, 3863 - Bairro Tiradentes, Itacoatiara</p>
    </div>
</footer>
<!--footer end-->