<!--header start-->
<header>
    <img src="../imagens/logo-ufam-icet.png" alt="logo-ufam-icet" id="logo">
    <!-- Menu de navegação -->
    <nav>
        <ul>
            <li><a href="/logout">Sair</a></li>
        </ul>
    </nav>
</header>
<!--header end-->

<section>
    <h1>aiaiaiaiaia</h1>
</section>

<!--footer start-->
<footer>
    <div class="container-footer">
        <p id="contact">Instituto de Ciências Exatas e Tecnologia</p>
        <p>Universidade Federal do Amazonas</p>
        <p>Av. Nossa Senhora do Rosário, 3863 - Bairro Tiradentes, Itacoatiara</p>
    </div>
</footer>
<!--footer end-->